<div class="container">
  <div class="grid">
    <div class="row mt-5">
      <div class="col text-center fs-1">
        <span>ui-library</span>
      </div>
    </div>
    <div class="row mt-3 border-bottom">
      <div class="col d-flex align-items-center mb-3">
        <span class="fs-3">Buttons:</span>
        <gy-button [type]="'mb'" [text]="'mb-primary'" [color]="'primary'"></gy-button>
        <gy-button class="ms-2" [type]="'mrb'" [color]="'accent'" [text]="'mrb-accent'"></gy-button>
        <gy-button class="ms-2" [type]="'mfb'" [color]="'warn'" [text]="'mfb-warn'"></gy-button>
        <gy-button class="ms-2" [type]="'mib'" [text]="'icon'" [icon]="'menu'"></gy-button>
      </div>
    </div>
  </div>
</div>

