<div class="container">
  <div class="grid">
    <div class="row mt-5">
      <div class="col text-center fs-1 text-primary">
        <span>gy-button</span>
      </div>
    </div>
    <div class="row mt-3 border-bottom">
      <div class="col d-flex align-items-center mb-3">
        <gy-button [type]="'mb'" [text]="'mb-primary'" [color]="'primary'" (btnClick)="printLog('mb')"></gy-button>
        <gy-button class="ms-2" [type]="'mrb'" [color]="'accent'" [text]="'mrb-accent'"
                   (btnClick)="printLog('mrb')"></gy-button>
        <gy-button class="ms-2" [type]="'mfb'" [color]="'warn'" [text]="'mfb-warn'"
                   (btnClick)="printLog('mfb')"></gy-button>
        <gy-button class="ms-2" [type]="'mib'" [text]="'icon'" [icon]="'menu'" (btnClick)="printLog('mib')"></gy-button>
      </div>
    </div>
  </div>
  <div class="row text-center fs-1 mt-5 text-primary">
    <span>gy-table</span>
  </div>
  <div class="row mt-3 border-bottom mb-3">
    <gy-table [dataSource]="dataSource" [tableData]="tableData" [showPaginator]="true"
              [pageSizeOptions]="[5, 10, 25, 100]" [perPageLabel]="'Elementos por página'"></gy-table>
  </div>
  <div class="row text-center fs-1 mt-5 text-primary">
    <span>gy-notification-panel</span>
    <gy-notification-panel [text]="'danger'" [mode]="'danger'" class="mt-5"></gy-notification-panel>
    <gy-notification-panel [text]="'primary'" [mode]="'primary'" class="mt-1"></gy-notification-panel>
    <gy-notification-panel [text]="'secondary'" [mode]="'secondary'" class="mt-1"></gy-notification-panel>
    <gy-notification-panel [text]="'success'" [mode]="'success'" class="mt-1"></gy-notification-panel>
    <gy-notification-panel [text]="'info'" [mode]="'info'" class="mt-1"></gy-notification-panel>
    <gy-notification-panel [text]="'if have error'" class="mt-1"></gy-notification-panel>
  </div>
</div>

